.navbar {
  background-color: green;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.navbar-auth {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-left: auto;
}

.navbar a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar a.active {
  border: 2px solid white;
}
