# dependencies
node_modules

# build
dist
build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local

# mac
.DS_Store

# windows
Thumbs.db

# IDE
.vscode
.idea

# TypeScript
*.tsbuildinfo

# coverage
coverage

# misc
tmp
temp