.role-list {
  list-style: none;
  padding: 0;
}

.role-list li {
  background: #f9f9f9;
  padding: 0.8rem 1rem;
  margin-bottom: 0.8rem;
  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.role-list button {
  background: #e53935;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.role-list button:hover {
  background: #c62828;
}
